.kleur {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

.kop {
    margin-left: 8px;
    text-align: center;
    font-size: 4rem;
}

.koph2 {
    display: flex;
    margin-left: 8px;
    float: left;
    font-size: 2rem;
}

.koptekst {
    display: flex;
    float: left;
    margin-left: 4rem;
    width: 40vw;
    margin-top: 3rem;
}

.koptekst2 {
    display: flex;
    float: left;
    margin-left: 4rem;
    width: 40vw;
}

.doosje{
    display: flex;
    color: red;
    justify-content: end;
    margin-right: 3rem;
    margin-top: 8rem;
}